{:name "Lorem Ipsum Dolor Sit Amet"
 :educations [{:name "Bachelor of Bla Lol Moar"
               :company "Federal University of Somewhere, Somewhere, Earth (1996 - 2001)"}
              {:name "Postgraduate in Bla Mrng"
               :company "Faculdade Juljwi, Aplace, Brizola (2003 - 2005)"}]
 :skills ["Lorem ipsum dolor " " sit amet, officia " " excepteur ex fugiat " " reprehenderit enim labore " " culpa sint ad " " nisi Lorem pariatur " " mollit ex esse"]
 :summary ["Proin laoreet quis felis ac mollis. Nullam lectus dolor, euismod non elit quis, placerat euismod libero. Integer blandit metus sit amet diam auctor. With more than 999 years of software development experience, I am a Nullam varius sodales iaculis."
           "I have a bachelor degree in Bla Lol but I've bla from 2012 until lol. I'm an open minded bla bal person and have strong lol bla moar. Will try to bla lol huabr to use the coisos. Although am capable of bla bla, I do not bla from moar."]
 :contact {:linkedin {:label "Lorem" :target "http://www.linkedin.com"}
           :github {:label "lolmoar" :target "https://github.com/"}
           :email {:label "blablabla@gmail.com" :target "mailto:blablabla@blablabla.com"}
           :slack "@foobar"
           :phone "+9999999999999"}
 :projects [{:titles ["Backend Software Engineer" "Project Manager"]
             :company "Kojajwenm | Acre, Brazil (Remote) | May 2008 - December 2023"
             :description ["Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse arcu ligula, lacinia vel diam ac, imperdiet mattis enim. Nulla hendrerit scelerisque sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nec aliquet quam. Vestibulum convallis iaculis pharetra. Nunc ultricies nunc mi, nec lobortis turpis condimentum quis. Mauris elementum metus id metus varius,"
                           "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse arcu ligula, lacinia vel diam ac, imperdiet mattis enim. Nulla hendrerit scelerisque sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nec aliquet quam. Vestibulum convallis iaculis pharetra. Nunc ultricies nunc mi, nec lobortis turpis condimentum quis. Mauris elementum metus id metus varius,"]}
            {:titles ["Backend Software Engineer" "Project Manager"]
             :company "Fjoape Hwuoq | Oslo, Norway | May 1998 - December 2008"
             :description ["Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse arcu ligula, lacinia vel diam ac, imperdiet mattis enim. Nulla hendrerit scelerisque sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nec aliquet quam. Vestibulum convallis iaculis pharetra. Nunc ultricies nunc mi, nec lobortis turpis condimentum quis. Mauris elementum metus id metus varius,"
                           "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse arcu ligula, lacinia vel diam ac, imperdiet mattis enim. Nulla hendrerit scelerisque sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nec aliquet quam. Vestibulum convallis iaculis pharetra. Nunc ultricies nunc mi, nec lobortis turpis condimentum quis. Mauris elementum metus id metus varius,"]}]}
